.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.left {
  .button_toggle {
    color: #717579;
    font-size: 25px;
  }
}

.right {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  .button_auth {
    padding: 8px 15px !important;
    border-radius: 30px;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 1.3rem;

    &:first-child {
      background-color: #fc2e53;
      color: #fff;
      border: none;
    }
    &:last-child {
      border: 1px solid violet;
      color: violet;

      &:hover {
        background-color: violet;
        color: #000;
      }
    }

    .icon {
      margin-right: 5px;
    }
  }

  & .item a,
  & .item span {
    padding-left: 10px;
    padding: 14px 20px;
  }

  .dropdown_icon {
    border-radius: 50%;
  }
  #dropdown_profile {
    width: 53px;
    height: 53px;
    position: relative;
  }
  #dropdown_profile + div {
    border-radius: 20px;
    border: 1px solid rgba(204, 204, 204, 0.2);
    top: var(--header-height);
    box-shadow: 0 1px 5px rgba(204, 204, 204, 0.2) ;
    padding: 5px 0;    
    overflow: hidden;
  }
  .deposit a {
    background-color: var(--primary);
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;

    svg {
      margin-right: 10px;
    }
  }
  .balance span {
    color: var(--primary);
    font-weight: 600;
  }

  .subMenu span {
    font-size: 1.5rem;
  }
  .subMenu:hover {
    background-color: #f5f5f5;
    width: 100%;
  }
  .subMenu {
    padding: 10px  15px !important;
  }
}

@media screen and (max-width: 2560px) {
  .header_wrap {
    padding: 0 15px;
    height: 100%;
  }
  .left {
    .button_toggle {
      display: block;
      font-size: 20px;
    }
  }
  .right {
    //display: none;
    font-size: 14px;
    .button_auth {
      padding: 5px 10px;
      font-size: 11px;
    }
    #dropdown_profile {
      width: 50px;
      height: 50px;
    }

    & .item a,
    & .item span {
      padding-left: 10px;
      padding: 10px 15px;
    }

    .deposit a {
      border-radius: 20px;
      font-size: 1.3rem;
    }
  }
}
