.product {
  p {
    font-size: 11px;
  }

  .form_control {
    font-size: 12px;
    border: 1px solid #eee;
    height: 43px;
    border-radius: 15px;

    :last-child {
      color: red;
    }

    :focus {
      border: 1px solid #451b9b;
    }
  }
}

.button_close,
.button_buy {
  font-size: 12px;
  border-radius: 20px !important;
  padding: 10px 20px;
  margin: 0 10px;
}

.button_buy {
  border: 1px solid #451b9b !important;
  color: #451b9b !important;
}