.card_wrap {
  display: flex;
  margin-bottom: 50px;

  .card {
    border: none;
    background-color: #fff;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    .title {
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: none;
      color: #fff;
    }
    .text {
      color: #393939;
    }
  }
  .item_accept {
  }
  .item_refuse {
  }
}

@media screen and (max-width: 2560px) {
  .card_wrap {
    flex-direction: column;
    .card {
      margin-bottom: 20px;
    }
  }
  .text li {
    font-size: 11px;
  }
  .title{
    font-size: 15px;
  }
}
